label {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

body {
  font-family: "Montserrat", sans-serif;
}

span {
  padding: 0 0 0 15px;
}

.grow {
  transition: all .2s ease-in-out;
}

.grow:hover {
  transform: scale(1.5);
}

.shrink {
  transition: all .2s ease-in-out;
}

.shrink:hover {
  transform: scale(0.95);
}

.desktop {
  margin-top: 8px;
  margin-left: 15px;
}

.mobile {
  margin-top: 8px;
  margin-left: 15px;
}

/* Reactive Condfitions */
@media (min-width: 768px) {
  .green {
    margin-right: 25px;
  }

  .yellow {
    margin-right: 25px;
  }
}

@media (max-width: 768px) {
  .green {
    margin-bottom: 25px;
  }
}

@media (max-width: 815px) {

  /* mobile CSS: hide .desktop div */
  .desktop {
    display: none;
  }

  .nav-link:hover {
    color: #fff;
    background-color: #000;
  }
}

@media (min-width: 815px) {

  /* desktop CSS: hide .mobile div */
  .mobile {
    display: none;
  }

  .nav-link:hover {
    color: #000;
  }

}

@media (max-width: 1199px) {

  /* mobile CSS: hide .desktop div */
  .nav-link {
    transition: all .2s ease-in-out;
  }

  .nav-link:hover {
    color: #fff;
    background-color: #000;
    transform: scale(0.975);
  }
}

@media (min-width: 1199px) {

  /* desktop CSS: hide .mobile div */
  .nav-link {
    transition: all .2s ease-in-out;
  }

  .nav-link:hover {
    color: #000;
    transform: scale(1.05);
  }

}

/* Navigation Bar Section */
#navbarSupportedContent {
  margin-top: 8px;
}

.navbar {
  padding: 0;
}

.navbar-nav {
  margin-right: 7px;
}

.navbar-brand {
  padding: 0;
}

.navbar-toggler {
  margin-top: 8px;
  margin-right: 15px;
  transition: all .2s ease-in-out;
}

.navbar-toggler:hover {
  color: #000;
  transform: scale(1.1);
}

.navbar-toggler-icon:hover {
  color: #000;
}

.nav-link {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  padding-left: 15px;
  margin: auto;
}

.webName {
  font-family: "Merriweather";
  font-size: 1.75rem;
  font-weight: 900;
}

/* Live Clock Section */
#timeDateSection {
  background-color: #212121;
  margin-top: 8px;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.datetime {
  color: #fff;
}

/* Date and Time Picker Section */
::-webkit-datetime-edit {
  padding: 0;
  align: center;
}

::-webkit-datetime-edit-fields-wrapper {
  align: center;
}

::-webkit-datetime-edit-text {
  padding: 0 0.3em;
}

::-webkit-datetime-edit-month-field {
  color: #000;
  text-transform: uppercase;
}

::-webkit-datetime-edit-day-field {
  color: #000;
  text-transform: uppercase;
}

::-webkit-datetime-edit-year-field {
  color: #000;
  text-transform: uppercase;
}

::-webkit-inner-spin-button {
  display: none;
}

::-webkit-inner-spin-button:hover {
  display: none;
}

::-webkit-calendar-picker-indicator {
  color: #000;
  transition: all .2s ease-in-out;
}

::-webkit-calendar-picker-indicator:hover {
  transform: scale(1.25);
}

.form-control {
  background-color: white;
}

/* Location Section */
#searchAndLogin .btn-group {
  width: 100%;
}

#searchAndLogin .btn-group .btn {
  width: 90%;
}

#searchAndLogin .btn-group .btn.dropdown-toggle {
  width: 10%;
}

#searchAndLogin .btn-group .dropdown-menu {
  width: 100%;
}

.carousel-control-prev {
  border-radius: 100%;
  opacity: 50%;
}

.carousel-control-next {
  border-radius: 100%;
  opacity: 50%;
}

.carousel-control-prev-icon{
 background-color: black;
 border-radius: 100%;
 opacity: 95%;
 width: 20px;
 height: 20px;
}

.carousel-control-prev-icon:hover{
 background-color: black;
 border-radius: 100%;
 opacity: 100%;
}

.carousel-control-next-icon{
 background-color: black;
 border-radius: 100%;
 opacity: 95%;
 width: 20px;
 height: 20px;
}

.carousel-control-next-icon:hover{
 background-color: black;
 border-radius: 100%;
 opacity: 100%;
}

.carousel-indicators [data-bs-target]{
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin: 0 10px 10px 10px;
}

select {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;       /* Remove default arrow */
   background-image: url(https://fontawesome.com/icons/location-dot?s=solid&f=classic);   /* Add custom arrow */
}

/* Partners Section */
#partners {
  padding-top: 25rem;
  padding-bottom: 25rem;
  background-color: #212121;
}

/* TESTING CODE */
#imageContainer {
  margin-top: 27px;
  padding: 0 27px 0 27px;
}

#section {
  background-color: #F9F9F9;
  padding: 5rem 0 5rem 0;
}

.trafficPhoto{
  width: 100%;

}

.yellow {
  background-color: #EAEAEA;
  margin-bottom: 25px;
  border-radius: 10px;
  box-shadow: 10px 10px 5px #7F8487;
}

.red {
  background-color: #EAEAEA;
  margin-bottom: 25px;
  border-radius: 10px;
  box-shadow: 10px 10px 5px #7F8487;
}

.green {
  background-color: #EAEAEA;
  border-radius: 10px;
  box-shadow: 10px 10px 5px #7F8487;
}

.left-container {
  padding: 0;
}

.right-container {
  padding: 0;
  margin-bottom: 0;
}

.row {
  margin: 0 15px 0 15px;
}

.datepick {
  padding: 25px 12px;
}

/* Weather Section */

/* Footer Section */
#footer {
  text-align: center;
  background-color: #F9F9F9;
  padding-top: 1.5rem;
}

.footicon {
  color: #000;
  margin: 25px 25px;
}

.footicon:hover {
  color: #000;
}
